:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --lightGrayCustom--:#393E41;
  --lighterBlack--:#1E2019;
  --textColor--:#D3D0CB;
  color-scheme: light dark;
  color: var(--textColor--);
  background-color: var(--lightGrayCustom--);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

a{
  text-decoration: none;
}

a:visited{
  color: currentColor;
}

a:hover{
  color: currentColor;
}