.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  align-self: center;
}

.contentBlock h1 {
  font-size: 2.8em;
}

.contentBody{
  width: 80%
}

#skills{
  align-self: flex-start;
}