nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid;
  align-self: flex-start;
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li{
  font-size: 1.5em;
  padding: 0 4em;
}

nav a{
  color:white;
}

nav li:hover{
  cursor:pointer
}

.active{
  background-color:darkgray;
}

.active a{
  color: black;
}