nav {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 100%;
  background-color:var(--lighterBlack--);
}

nav-item:hover{
  color:var(--textColor--);
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding:unset;
}

nav li{
  font-size: 1.5em;
  padding: 0 4em;
}

nav a{
  color:var(--textColor--);
}

nav li:hover{
  cursor:pointer
}

.active{
  background-color:darkgray;
}

.active a{
  color: var(--lighterBlack--);
}

.active a:hover{
  color: var(--lighterBlack--);
}

@media(max-width: 600px){
  nav ul{
    flex-direction:column;
  }
  nav li{
    padding: 0.5em 0;
  }
}